body {
    font-family: sans-serif;
    font-size: 100%;
    color: #000;
    line-height: 1.0em;
    background-color: #f0f0f0 !important;
}
.container {
    &.main {
        background: #fff;
        padding: 20px 60px 40px;
    }
}
h1 {
    &.heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:36px;
        font-weight:800;
    }
}